<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Professores</title>
</head>
<body>

    <a href="/">Voltar para a página inicial</a>

    <h1 style="text-align: center;">Cadastro de Professores</h1>
    <form th:action="@{/professores/salvar}" th:object="${professor}" method="post">

        <input type="hidden" th:field="*{idProfessor}" />

        <label for="nome">Nome:</label>
        <input type="text" id="nome" th:field="*{nomeProfessor}" />
        <br />

        <label for="telefone">Telefone:</label>
        <input type="text" id="telefone" th:field="*{telefoneProfessor}" />
        <br />

        <label for="graduacao">Graduação:</label>
        <input type="text" id="graduacao" th:field="*{graduacaoProfessor}" />
        <br />

        <label for="rm">RM:</label>
        <input type="number" id="rm" th:field="*{rmProfessor}" />
        <br />

        <button type="submit">Salvar</button>
    </form>

</body>
</html>