<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FatecAds - Sistema Acadêmico</title>
</head>
<body>
    <h1 style="text-align: center;">FatecAds</h1>
    <h2 style="text-align: center;">Sistema Acadêmico</h2>

    <form action="/login" method="get">
        <button type="submit">Acessar o Sistema</button>
    </form>

    <form action="/usuarios/criar" method="get">
        <button type="submit">Criar Novo Usuário</button>
    </form>
</body>
</html>