<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acesso ao Sistema</title>
</head>

<body>
    <h1 style="text-align: center;">Acesso ao Sistema</h1>
    <form method="post" th:action="@{/login}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <label for="username">Usuário:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Entrar</button>
    </form>

    <p th:if="${param.error}">Credenciais inválidas.</p>
    <p th:if="${param.logout}">Você saiu do sistema.</p>

    <form action="/FatecAds/" method="get">
        <button type="submit">Voltar para a página inicial</button>
    </form>
</body>

</html>